@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; /* Mencegah layar goyang ke samping di HP */
}

/* Pastikan semua elemen menghitung padding ke dalam lebar total */
* {
  box-sizing: border-box;
}

/* Utility untuk menyembunyikan scrollbar navigasi horizontal di HP */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Responsivitas dasar untuk elemen input global */
input, select, textarea {
  max-width: 100%;
  font-family: inherit;
}